* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 130px; 
    background-color: white;    
}

.container{
    align-items: center;
    display: inline-block;
    height: 130px;
    
} 

#logo{
    width: 100px;
    margin-left: 20px;
    vertical-align: middle;
    
    
}

#titolo{
    padding-left: 20px;
    line-height: 130px;
    font-size: 4rem;
    vertical-align: middle;
    
    
}

main{
    background-color: #F6F8F9;
}

.container-2{
    background-color: red;
    width: 1000px;
    height: 1500px;
    margin: 0 auto;
  
    

    

}

#first-botton{
    background-color: #47ADF1;
    color: white;
    border-radius: 15%;
    font-size: 16px;
    padding: 7px;
    
    

}

#second-botton{
    background-color: white;
    color: #C7CDD1;
    font-size: 16px;
    padding: 7px;
    border-radius: 13%;

}