* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 130px; 
    background-color: white;    
}

.container{
    align-items: center;
    display: inline-block;
    height: 130px;    
} 

#logo{
    width: 100px;
    margin-left: 20px;
    vertical-align: middle;   
}

#titolo{
    padding-left: 20px;
    line-height: 130px;
    font-size: 4rem;
    vertical-align: middle;    
}

main{
    background-color: #F6F8F9;
}

.container-2{
    width: 1200px;
    height: 1500px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
}

#first-botton{
    background-color: #47ADF1;
    color: white;
    border-radius: 15%;
    font-size: 16px;
    padding: 7px;
    margin-left: 50px;
    border: 1px solid #CFD4D8;
}

#second-botton{
    background-color: white;
    color: #C7CDD1;
    font-size: 16px;
    padding: 7px;
    border-radius: 13%;
    border: 1px solid #CFD4D8;
}

.main-botton{
    line-height: 50px;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #CFD4D8;   
}

.main-text{
    background-color: white;
    height: 800px;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

