* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 130px; 
    background-color: white;    
}

.container{
    display: flex;
    align-items: center;
    
} 

.logo > img{
    width: 100px;
    margin-left: 20px;
    
    
}

.title{
    padding-left: 20px;
    line-height: 130px;
    flex: left;
    font-size: 1.5rem;
    
    
}

main{
    background-color: #F6F8F9;
}